{% load static %}
<!DOCTYPE html>

<html lang="ru">
    <head>
        <link rel="stylesheet" href="{% static 'Zayavky/css/stail.css' %}">

    </head>


<body>
<h1>Выберите автомобиль:</h1>

<label>
    <select class="select-css">
    {% for el in marka %}
        <option>{{ el }}</option>
    {% endfor %}
    </select>
</label><br>

<label>
    <select class="select-css">
    {% for el2 in model %}
        <option>{{ el2 }}</option>
    {% endfor %}
    </select>
</label><br>



</body>
</html>

